{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 140,
  "quoteProps": "consistent",
  "bracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*routing.module.ts",
      "options": {
        "printWidth": 9999
      }
    }
  ]
}
